<div class="container">
  <br><br><br><br>
  <h1>About the Site</h1>

  <h2>Where do I begin?</h2>

  <p>This site allows you to ask question of real working developers who, just like you, once needed guidance on where to turn. It can be intimidating starting down a new path, and seeking out wisdom from people who have been there before is a good start!</p>

  <h2>How does it work?</h2>

  <p>Just add a new questionon the home page and wait for answers, suggestions, warnings and other nuggets of wisdom to start rolling in. You can view the answers by clicking on your question. While you're here, check out some of the questions other new developers have asked. Maybe someone else asked something you were curious about as well!</p>
</div>
