<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="quickstart">Quickstart</a></li>
      </ul>
      <div class="navbar-header">
        <h1 id='heading'>New Development</h1>
      </div>
      <div class="socialMedia">
        <ul class="nav navbar-nav">
          <li><img src="http://1000logos.net/wp-content/uploads/2016/11/Facebook-Logo.png" class='social'></li>
          <li><img src="http://appamatix.3xfmy51qvwkwz1ti5.netdna-cdn.com/wp-content/uploads/2015/10/TwitterBig.png" class='social'></li>
          <li><img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" class='social'></li>
          <li><img src="http://a2z-design.com/wp-content/uploads/2017/01/Pinterest-Logo.gif" class='social'></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{{outlet}}
<footer><hr>Copyright Larry Taylor</footer>
