<div class="container">
  <br><br><br><br>
  <h2>Contact Us</h2><br><br>

  <p>Newbies, Inc.<br>
  suite 400<br>
  23874 E 6th Ave<br>
  New York, NY 10011<br><br>

  (202)555-9898
  admin@newbies.com</p>
</div>
