<div class="container">
  <h1>Ask Away!</h1>

  <h4>This is a place where you can find answers to all the questions you have about becoming a web developer. Don't be shy... If you are wondering, chances are there are a lot more people out there with the same question.</h4>

  <ul class='list-unstyled'>
    {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}

    {{/each}}
  </ul>
</div>

{{new-question saveQuestion="saveQuestion"}}
